.morhh { 
  padding-top: 6px;
  line-height: 93px;
  border-top-width: 71px;
  border-top-width: 39px;
  margin-top: 48px;
  border-left-width: 78px;
  margin-top: 68px;
  margin-bottom: 0px;
  border-bottom-width: 40px;
  border-top-width: 97px;
  margin-bottom: 23px;
  margin-bottom: 56px;
  border-left-width: 54px;
  margin-top: 65px;
  margin-right: 20px;
  padding-top: 67px;
  padding-left: 64px;
  padding-left: 10px;
  margin-right: 46px;
  border-top-width: 95px;
  border-left-width: 79px;
  line-height: 99px;
  padding-right: 24px;
  font-size: 39px;
  margin-left: 99px;
  border-bottom-width: 43px;
  padding-bottom: 67px;
  margin-right: 39px;
  padding-top: 98px;
  padding-right: 63px;
  border-left-width: 53px;
  margin-bottom: 50px;
  padding-top: 71px;
  border-bottom-width: 76px;
  padding-bottom: 61px;
  border-bottom-width: 64px;
  border-top-width: 54px;
  border-right-width: 33px;
  margin-left: 62px;
  padding-top: 49px;
  line-height: 73px;
  border-bottom-width: 35px;
}
