.tcfej { 
  padding-right: 73px;
  padding-left: 25px;
  margin-top: 68px;
  line-height: 2px;
  border-top-width: 96px;
  border-left-width: 94px;
  padding-bottom: 66px;
  border-right-width: 39px;
  margin-right: 23px;
  padding-right: 68px;
  border-right-width: 84px;
  border-top-width: 68px;
  margin-left: 51px;
  border-right-width: 85px;
  padding-right: 6px;
  padding-bottom: 33px;
  border-right-width: 26px;
  margin-bottom: 7px;
  margin-top: 80px;
  margin-top: 44px;
  padding-right: 19px;
  margin-left: 90px;
  margin-right: 53px;
  padding-top: 35px;
  border-left-width: 42px;
  margin-bottom: 37px;
  padding-left: 50px;
  border-right-width: 65px;
  margin-right: 49px;
  line-height: 36px;
  border-left-width: 40px;
  border-top-width: 79px;
  margin-right: 39px;
  border-top-width: 33px;
  border-right-width: 85px;
  border-left-width: 21px;
  margin-left: 9px;
  margin-bottom: 60px;
  border-left-width: 6px;
  border-bottom-width: 17px;
  margin-top: 91px;
  margin-top: 34px;
  margin-top: 72px;
  padding-right: 4px;
  font-size: 93px;
  border-left-width: 54px;
  border-right-width: 88px;
  margin-right: 97px;
  padding-right: 32px;
  margin-left: 47px;
  margin-top: 11px;
  margin-top: 25px;
  margin-top: 89px;
  padding-bottom: 99px;
  border-left-width: 65px;
  line-height: 5px;
  padding-left: 47px;
  padding-left: 95px;
  padding-left: 48px;
  padding-bottom: 22px;
  padding-left: 20px;
  margin-bottom: 18px;
  padding-bottom: 59px;
  border-right-width: 68px;
  border-bottom-width: 31px;
  padding-bottom: 36px;
  padding-right: 54px;
  padding-left: 4px;
  border-bottom-width: 16px;
  padding-left: 22px;
  padding-top: 56px;
  border-right-width: 17px;
  margin-top: 98px;
  margin-top: 79px;
  border-top-width: 37px;
  padding-right: 57px;
  margin-left: 44px;
  padding-top: 47px;
  padding-bottom: 72px;
  font-size: 10px;
  border-top-width: 43px;
  border-right-width: 59px;
  margin-left: 84px;
  border-top-width: 14px;
  margin-right: 87px;
  border-bottom-width: 69px;
  font-size: 36px;
  border-right-width: 53px;
  margin-left: 32px;
  padding-right: 43px;
  border-left-width: 33px;
  border-left-width: 60px;
  line-height: 34px;
  border-bottom-width: 41px;
  margin-bottom: 27px;
  padding-left: 28px;
  margin-top: 75px;
  border-right-width: 10px;
  font-size: 69px;
  padding-left: 88px;
  border-top-width: 72px;
  font-size: 17px;
  font-size: 39px;
  margin-bottom: 35px;
  margin-left: 37px;
  padding-right: 23px;
  font-size: 54px;
  padding-bottom: 35px;
  padding-bottom: 16px;
  font-size: 61px;
  margin-bottom: 32px;
  border-left-width: 76px;
  padding-right: 49px;
  border-bottom-width: 63px;
  font-size: 21px;
  margin-right: 24px;
  margin-bottom: 97px;
  padding-bottom: 34px;
  margin-top: 86px;
  padding-bottom: 18px;
  border-top-width: 37px;
  border-left-width: 61px;
  border-left-width: 49px;
  margin-bottom: 22px;
  padding-right: 48px;
  border-right-width: 44px;
  border-left-width: 12px;
  border-right-width: 15px;
  padding-bottom: 11px;
  border-right-width: 29px;
  font-size: 34px;
  line-height: 98px;
  padding-right: 91px;
  padding-right: 98px;
  border-left-width: 88px;
  margin-right: 57px;
  padding-top: 3px;
  border-left-width: 61px;
  padding-right: 89px;
}
